<app-head-main></app-head-main>

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Registrar Venta</h1>
                    <div class="px-2">
                        <form [formGroup]="venta" (ngSubmit)="onSubmit()" class="justify-content-center">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="folio" name="folio" class="form-control" placeholder="Clave" type="text" formControlName="folio">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="fecha" class="form-control" placeholder="Fecha" type="date" formControlName="fecha">
                            </div>

                            <!-- Detalles de la venta -->

                            <div>
                                <select id="cliente" name="Cliente" class="form-control"
                                placeholder="Cliente" formControlName="cliente">
                                    <option value="">Selecciona el cliente</option>
                                    <option *ngFor="let cli of clientes"
                                    [value]= "cli.nombre">
                                    {{ cli.nombre }}
                                    </option>
                                </select>
                            </div>
                            <br>

                            <!--DETALLE VENTAS-->
                            <div>
                                <select id="Producto" name="Producto" class="form-control"
                                placeholder="Producto" (change)="onChange()" formControlName="fecha">
                                <option value="">Selecciona el producto</option>
                                    <option *ngFor="let pro of productos"
                                    [value]= "pro.descripcion">
                                    {{ pro.descripcion }}
                                    </option>
                                </select>
                            </div>
                            <br>
  
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad" type="number">
                            </div> <!-- form-group// -->
  
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input id="descripcion" name="Descripcion" class="form-control" disabled="disabled" placeholder="Descripcion" type="text">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input id="price" name="Importe" class="form-control" placeholder="Precio unitario" disabled="disabled" type="height">
                            </div> <!-- form-group// -->

                            <div class="form-group row justify-content-around">
                                <div class="col">
                                    <button type="button" (click)="agregaCarrito()" class="btn btn-primary ">Agregar al carrito</button>
                                </div>
                                <div class="col">
                                     <button type="submit" class="btn btn-primary ">Registrar Venta</button>
                                </div>
                            </div>   
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>