<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fd7802;">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/angular.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Angular
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a href="javascript:;" class="avatar rounded-circle nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" >
            <img class="rounded-circle z-depth-0" [src]="imageToShow" alt="Avatar" *ngIf="!isImageLoading; else noImageFound" width="35" height="35">
            <ng-template #noImageFound>
              <i class="fa fa-user-circle fa-3x"></i>
            </ng-template>
            {{ identity.nick }} 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" (click)="cerrarSesion()">Logout</a>
          </div>
        </li>
      </ul>
    </div>    
  </div>
</nav>
<router-outlet></router-outlet>
