<app-head-main></app-head-main>

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Registrar Clientes</h1>
                    <div class="px-2">
                        <form [formGroup]="producto" (ngSubmit)="onSubmit()" class="justify-content-center">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="clave" class="form-control" placeholder="Clave" type="text" formControlName="clave">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="descripcion" class="form-control" placeholder="descripcion" type="text" formControlName="descripcion">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input name="clasificacion" class="form-control" placeholder="clasificacion" type="text" formControlName="clasificacion">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                </div>
                                <input name="stock" class="form-control" placeholder="stock" type="text" formControlName="stock">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                </div>
                                <input name="costo" class="form-control" placeholder="costo" type="text" formControlName="costo">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                </div>
                                <input name="precio" class="form-control" placeholder="precio" type="text" formControlName="precio">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Registrar Producto</button>
                            </div> <!-- form-group// -->      
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
